
@font-face {
    font-family: 'Brown';
    src: url('./assets/font/BrownLight\ Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Brown', Arial, sans-serif;
    outline: none;
}

.container {
    display: flex;
    background-color: #F7FDFC;
    padding: 80px 9.72%;
    display: flex;
    align-items: center;
    width: calc(100% - 19.44%);
    min-height: 100vh;
    column-gap: 120px;
}





.left-section > img{
    margin-bottom: 50px;
    margin-left: -15px;

}

.left-section > h2{
    margin-bottom: 20px;
font-weight: 700;
font-size: 40px;
line-height: 50px;
letter-spacing: -0.8px;
color: #000B0A;


}

.left-section > p{

    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0px;
    max-width: 460px;
color: #737373;
}


.form-group-container{
    display: flex;
    align-items: center;
    column-gap: 24px;
    width: 100%;
}

form{
    display: flex;
    flex-direction: column;
    gap: 30px;;
}

.form-group-container>div{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
}


.form-group-container>div>label{
font-weight: 600;
font-size: 14px;
line-height: 14px;
letter-spacing: 0.1px;
color: #011C34;
}

.form-group-container>div>input{
max-height: 48px;
height: 100%;
border: 1px solid #F0F0F0;
border-radius: 2px;
padding: 14px 16px;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.2px;
color: #011C34;

    }

    .form-group-container>div>select{
        max-height: 48px;
        height: 100%;
        border: 1px solid #F0F0F0;
        border-radius: 2px;
        padding: 14px 16px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #011C34;
        -webkit-appearance: none; 
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
        
            }



.form-group-container>div>select{
    width: 100%;
    padding: 14px 16px; 
    max-height: 48px;
height: 100%;
border: 1px solid #F0F0F0;
border-radius: 2px;
    background-color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    background-image: url('./assets/dropdown-icon.svg');  
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: right 16px center;
  
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
}


.form-group-container>div>select:focus{
    border: 1px solid #2EC4B6;
}


    .form-group-container>div>input:focus{
        border: 1px solid #2EC4B6;
    }

    input[type="date"] {
        position: relative;
        max-height: 48px;
    height: 100%;
    border: 1px solid #F0F0F0;
        border-radius: 5px;
        background-color: white;
        appearance: none; 
        -webkit-appearance: none; 
        -moz-appearance: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        background-image: url('./assets/calendar.svg');  
        background-size: 24px;
        background-repeat: no-repeat;
        background-position: right 16px center;
    }

    input[type="password"] {
        appearance: none; 
        -webkit-appearance: none; 
        -moz-appearance: none;
        background-image: url('./assets/show.svg');  
        background-size: 24px;
        background-repeat: no-repeat;
        background-position: right 16px center;
    }

    input[type="date"]::-webkit-datetime-edit,     input[type="date"]:focus::-webkit-datetime-edit {
        color: transparent;
    }
    input[type="date"]:valid::-webkit-datetime-edit {
        color: #011C34;
    }
        
    
    input[type="date"]::before {
        content: attr(data-placeholder);
        position: absolute;
        color: #737373;
    }

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

    
    input[type="date"]:valid::before {
        content: "";
    }
    


.form-container {
    padding: 40px;
    box-shadow: 0px 4px 50px 0px #0408131A;
    border-radius: 6px;
    background-color: white;
    width: 100%;
    max-width: 580px;
    max-height: 679px;
    height: 100%;
}


.form-group {
    display: flex;
    flex-direction: column;
}


.register-btn {
    width: 100%;
    background-color: #28c3a9;
    color: white;
    height:48px ;
    border: none;
    font-size: 16px;
    cursor: pointer;
font-weight: 600;
font-size: 16px;
line-height: 16px;
letter-spacing: 0.2px;
text-align: center;

}

.register-btn:hover {
    background-color: #1ea08b;
}

.footer{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.footer>p{
font-weight: 400;
font-size: 14px;
line-height: 25px;
letter-spacing: 0px;
color: #000000;
text-align: center;
}

.footer>p>a{

font-weight: 500;
font-size: 14px;
line-height: 25px;
letter-spacing: 0px;
text-decoration: underline;
color: #28c3a9;

}

.terms {
    grid-column: span 2;
    font-size: 12px;
    text-align: center;
    color: gray;
}

.terms a {
    color: #28c3a9;
    text-decoration: none;
}

@media (max-width: 600px) {
    

    .form-group-container{
        flex-direction: column;
        gap: 24px;
    }}

@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        row-gap: 40px;
        padding: 30px 24px;
        width: 100%;

    }

    .form-group-container{
        flex-direction: column;
    }

    .left-section{
        width: 100%;
        max-width: 612px;
    }

    .left-section>img{
        width: 40px;
        height: 40px;
        margin-bottom: 40px;
        margin-left: -7px;
    }

    .form-container{
        padding: 24px 16px;
        max-height: unset;
        width: calc(100% - 48px);
    }

    .left-section>h2{
 
font-weight: 700;
font-size: 30px;
line-height: 29.4px;
letter-spacing: -0.8px;
color: #000B0A;
margin-bottom: 12px;
    }

    .left-section>p{
font-weight: 300;
font-size: 16px;
line-height: 25px;
letter-spacing: 0px;
color:#737373;

    }
}
