.header {
    background-color: #ff00a5;
    text-align: center;
    height: 65px;
    width: 250px;
    margin-top: 20px;
    margin-left: 75px;
    position: absolute;
    z-index: 1;
    border-radius: 4px;
}

.content {
    background-color: white;
    width: 300px;
    height: 160px;
    position: absolute;
    margin-top: 35px;
    margin-left: 52px;
    padding-top: 7%;
    border-radius: 7px;
}

.content p {
    padding-left: 8%;
    padding-right: 6%; 
    line-height: 1.5;
    font-size: 0.9rem;
}

.header p {
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 15px;
    font-family: 'Roboto', serif;
}

div {
    background-color: #333;
    height: 300px;
    width: 600px
}